script.

	console.log('slide right activated')

	document.querySelector(".main-menu--item.has-submenu").onclick = (e) => {
		e.preventDefault()
		document.querySelector(".main-menu").classList.add("is-show-left")
	}

	const mmBB = document.querySelector('.main-menu--back-btn')
	if(mmBB){
		mmBB.onclick = (e) => {
			e.preventDefault()
			e.stopPropagation()
			document.querySelector(".main-menu").classList.remove("is-show-left")
		}
	}