@import './../../config';

.header-menu
{
	position:absolute;
	left: 0;
	width: 100%;
	background-color: #eee;
	z-index: 1;

	&::before
	{
		content: '';
		padding-top: 10px;
	}

	&::after
	{
		content: '';
		padding-bottom: 10px;
	}

	&--menu-list
	{
		flex-wrap: wrap;
	}

	&--menu-list-item-anchor
	{
		font-size: 14px;
		padding: 10px 20px;
		display: block;
		color: inherit;
	}

	&--submenu-list-item-anchor
	{
		padding-left: 40px;
	}

	&--close-button
	{
		display: flex;
		justify-content: flex-end;
		padding: 10px 10px 12px 0;
	}

	&--dd-icon-container
	{
		display: flex;
		align-items: stretch;
		cursor: pointer;
	}

	&--dd-icon-container &--menu-list-item-anchor
	{
		width: 90%;
		box-sizing: border-box;
	}

	&--dd-icon
	{
		width: 10%;
		box-sizing: border-box;
		display: flex;
    justify-content: center;
    align-items: center;
	}
	
	@include desktop
	{
		background-color: unset !important;
		position: unset !important;
		align-self: middle;
		width: auto;

		&--submenu
		{
			display: none;
			position: absolute;
			background-color: #333;
		}

		&--menu-list
		{
			display: flex;
			justify-content: flex-end;
			flex-wrap: nowrap;
		}

		&--menu-list-item:hover &--submenu
		{
			display: block;
		}

		&--menu-list-item-anchor
		{
			color: #333;
			margin-right: 8px;
			font-weight: 700;
		}

		&--submenu-list-item-anchor
		{
			padding: 10px 20px 0;
			color: #fff;
		}
	
		&--submenu-list-item:last-child &--submenu-list-item-anchor
		{
			padding-bottom: 10px;
		}
		
		&--menu-list-item-anchor:hover
		{
			background-color: unset;
		}

		&--close-button
		{
			display: none;
		}
	}
}



