@import './../../config';


.plus-minus
{
	--psSize: 11px;
	--psStrokeWidth: 1px;
	--psColor: #000;

  display: block;
  width:var(--psSize);
  height:var(--psSize);
  position:relative;
  float: right;
  
  &::before,&::after{
    content:'';
    display:inline-block;
    box-sizing:border-box;
    background:var(--psColor);
    position:absolute;
  }
  
  &::before{
    width: var(--psStrokeWidth);
    height:var(--psSize);
    left: calc(50% - #{var(--psStrokeWidth) / 2});
    transition: transform .2s ease-in;

  }

   &::after{
    width:var(--psSize);
     height:var(--psStrokeWidth);
     bottom: calc(50% - #{var(--psStrokeWidth) / 2});
  }

  @include desktop
  {
    display: none;
  }
}

.main-menu--item:hover .plus-minus::before{
	transform: scaleY(0);
}