include includes/mixins

footer#footer
	#footer-upper
		block footerUpper
			.l-container
				include includes/footer_locations
			

	#footer-lower
		block footerLower
			.l-container
				include includes/footer_copyright