include ./mixins/main

footer#footer
	#footer-upper
		block footerUpper
			.l-container
				+footerSection(locals.footer_section_1)

	#footer-lower
		block footerLower
			.l-container
				+footerSection(locals.footer_section_2)
