include includes/mixins

doctype html
html
	head
		title Advanced/Smart BE
		meta(charset='UTF-8')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css')
		link(rel='stylesheet' href='output/main.css')

	body
		block index
			include header
			include footer

		script(src='//10.0.0.5:35729/livereload.js?snipver=1') 
		//script(src='//localhost:35729/livereload.js?snipver=1') 
