.burger{
  display: flex;
  align-items: center;

  &--slices{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
  }

	&--slice{
		width: 24px;
	  height: 1px;
	  background-color: #333;
	}

	&--middle-slice{
		margin: 6px 0;
	}

	&:hover .burger--slice{
		border-color: #f00;
	}

	&--text{
		margin-left: 10px;
	}

	@include desktop{
		display: none;
	}
}