.dd-icon
{
	--pbSize: 11px;
	--pbStrokeWidth: 1px;
	--pbColor: #000;

	&.is-plus-sign
	{
		padding: 10px;
		cursor: pointer;
		display: flex;
	  align-items: center;

		.dd-icon--box
		{			
			width: var(--pbSize);
			height: var(--pbSize);
			display: flex;
			align-items:center;
			justify-content:center;
			position: relative;

			&::before,&::after{
				content: '';
				display:block;
				background: var(--pbColor);
				position:absolute;
			}

			&::before{
				width: var(--pbStrokeWidth);
				height: 100%;
				margin: 0 auto;
			}

			&::after{
				height: var(--pbStrokeWidth);
				width: 100%;
			}
		}
	}

	&.is-arrow
	{
		.dd-icon--box
		{
			height: 0;
			width: 0;
			border: solid 7px transparent;
			border-top-color: #333;
		  margin-top: 0px;
		}
	}

	&.is-chevron
	{
		--chevSize: 7px;
		--chevColor: #fff;

		.dd-icon--box
		{
			height: var(--chevSize);
			width: var(--chevSize);
			border: solid 1px transparent;
			border-bottom-color: var(--chevColor);
			border-right-color: var(--chevColor);
			transform: rotate(45deg);
		}
	}
}