.footer-section
{
	display: flex;

  &--sub-section
  {
    color: inherit;
    font-size: inherit;
    line-height: 1.6em;
  }

  &--sub-section-header
  {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 14px;
    letter-spacing: 1px;
    display: block;
  }

 &--sub-section-label
 {
    font-weight: 600; 
    font-size: 12px;
 }

  &--sub-section-anchor
  {
   display: block;
  }

  &--sub-section-menu
  {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }  

   &--sub-section-menu-item-anchor
   {
      padding-right: 20px;
   }
}