.footer-location{
	display: flex;

 	&--title{
         font-weight: 700; 
         font-size: 14px;
         text-transform: uppercase;
         margin-bottom: 30px;
         letter-spacing: 1px;
 	}

 	&--line{
         color: #333355;
         font-size: 16px;
         line-height: 23px;
 	}

 	&--line:nth-of-type(3){
         margin-top: 23px;
 	}

 	&--anchor{
 		display: block;
 	}
}