.main-menu{
	position:absolute;
	left: 0;
	top: 104px;
	width: 100%;
	background-color: #eee;
	z-index: 1;

	&--anchor{
		font-size: 14px;
		padding: 10px 20px;
		display: block;
		color: #777;
	}

	&--submenu &--anchor{
		padding: 10px 20px;
	}

	//for accordion menu
	&--plus-button{
		display: none;
		display: flex;
    	align-items: center;
	}

	@include desktop{
		background-color:unset;
		position:unset;
		align-self: flex-end;
		padding-bottom: 14px;

		&--menu{
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
		}

		&--anchor{
			color: #777;
			margin-right: 8px;
		}

		&--submenu &--anchor{
			padding: 10px 20px 0;
		}

		&--submenu &--item:last-child &--anchor{
			padding-bottom: 10px;
		}

		&--submenu{
			display: none;
			position: absolute;
			background-color: #333;
		}

		&--submenu &--anchor{
			color: #fff;
		}

		&--item:hover &--submenu{
			display: block;
		}
	}
}