/* ESSENTIAL IMPORTS */
@import './../../base/styles/config.scss';
@import './../../base/styles/base.scss';
@import './../../base/styles/layout.scss';
@import './../../base/styles/modules/*.scss';

/* VARIABLES */
$rgb_red: 37;
$rgb_green: 62;
$rgb_blue: 150;
$darkGrey: #333;

/* STYLES */

/* config */
$turquoise: #0f3443; 

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');


/* base */
body
{
	background-image: url('https://reservations.verticalbooking.com/img_templ/img_stili_17522/bg.jpg') !important;
	background-attachment: fixed !important;
}

/* layout */
#header, #footer
{
	font-family: Bitter,serif;
	line-height: initial;
}

#header
{
	background-color: #fff;
	color: #333;
	padding: 0 15px;
}

#footer
{
	padding: 0;
	background-color: $turquoise;
	color: #fff;	
}

#header-lower
{
	display: flex;
	align-items: center;

	@include desktop
	{
		padding: 23px 0;
	}
}

#footer-upper
{
	padding: 30px 0 0;

	@include desktop
	{
		padding: 38px 0 30px;
	}
}

#footer-lower
{
	position: relative;

	@include desktop
	{
		border-top: 1px solid rgba(255,255,255,.15);
	}
}

#footer-lower::before
{
	@include desktop
	{
		content: '';
		background-color: rgba(0,0,0,.3);
		position: absolute;
		width: 100%;
		height: 100%;
	}
}


/* modules */
.header-menu
{
	align-self: inherit;
	background-color: #fff !important;

	&--menu-list-item
	{
		border-bottom: 1px solid rgba(0,0,0,0.1)
	}

	&--menu-list-item-anchor
	{
		color: #333;
		-webkit-font-smoothing:antialiased;
		font-size: 16px !important;
		font-family: Raleway;
		font-weight: 400 !important;
		padding: 15px 20px !important;
	}

	&--submenu-list-item-anchor
	{
		font-weight: 400;
		font-size: 12px;
	}

	&--close-button
	{
		background-color: rgba(0,0,0,0.1);
	}

	&--close-button::after
	{
		content: 'University Inn Corvallis';
		color: #333;
		font: 21px/1.2em Bitter;
		font-weight: 700;
    text-align: center;
    width: 100%;
    padding: 40px 0;
	}

	&--submenu
	{
		background-color: #eee;
	}

	@include desktop
	{
		&--menu-list
		{
			justify-content: flex-start !important;
			margin-left: 154px;
		}

		&--menu-list-item
		{
			border-bottom: none;
		}

		&--menu-list-item-anchor
		{
			margin-right: 4px !important;
			font-size: 14px !important;
			font-family: Bitter;
			font-weight: 600 !important;
		}

		&--menu-list-item.has-submenu > &--menu-list-item-anchor::after {
			content: '';
			width: 0px;
			height: 0px;
			border: solid 5px transparent;
			border-top-color: #000;
			position: relative;
    	left: 10px;
    	top: 2px;
	  }

	  &--submenu
	  {
	    background: #fff !important;
	    color: #000 !important;
	    font-size: inherit;
	    font-weight: 700;
	    min-width: 255px;
	    top: 80px !important;
	    border: 1px solid rgba(51,51,51,.1);
	    -webkit-box-shadow: 1px 2px 5px 0 rgba(100,100,100,.36);
  	  -moz-box-shadow: 1px 2px 5px 0 rgba(100,100,100,.36);
    	box-shadow: 1px 2px 5px 0 rgba(100,100,100,.36);
	  }

	  &--submenu-list-item-anchor
	  {
	  	font: inherit;
	  	color: inherit !important;
	  	padding: 20px 20px 14px!important;
	  }

	  &--submenu-list-item:hover
	  {
	  	background-color: #eee;
	  }

	  &--plus-button
	  {
	  	display: block !important;
	  }
	}
}

.plus-button
{
	border-left: 1px solid rgba(0,0,0,0.1);
	width: 27px;

	&--box
	{			
		position: relative;
		top: -5px;
		border: solid 6px #000;
		border-right-color: transparent;
		border-top-color: transparent;
		height: 0 !important;
    width: 0 !important;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
    margin-left: 10px;
		
		&::before, &::after
		{
			display: none !important;
		}
	}

	&.is-active
	{
		background-color: #eee;
	}

  &.is-active &--box
  {
  	transform-origin: center;
  	transform: rotate(135deg);
  	top: 0px;
  	background-color: #eee;
  }

  @include desktop
  {
  	border-left: 0;
  	width: auto;

  	&--box
  	{
			border-width: 3.5px;
			top: 7px;
			margin-left: -23px; 		
  	}
  }
}

.burger
{
	padding: 0 13px 0 5px;
	border-right: 1px solid rgba(0,0,0,0.1);
	align-self: stretch;
	margin-right: 10px;

	&--slice
	{
		height: 2px;
	}

	&--middle-slice
	{
		margin: 6px 0;
	}
}

.footer-section
{
	flex-direction: column;
	text-align: center;

	.is-upper-top
	{
		.footer-section--sub-section-text
		{
			padding-bottom: 20px;
			font-size: 24px;
			font-weight: 500;
			-webkit-font-smoothing: antialiased;
		}

		.icon--text-header
		{
			font-weight: 600;
			margin-bottom: 6px;
		}

		.icon--text
		{
			font-family: Raleway;
			font-size: 13px;
		}

		.icon.is-contact-info
		{
			font-size: 13px;
			font-family: Raleway;
			font-weight: 400;
			margin-left: 8px;
			margin-right: 8px;
			margin-bottom: 18px;
			display: inline-block;

			.icon
			{
				&--icon::before
				{
					display: none;
				}

				&--text-header
				{
					font-weight: 700;
					display: block;
				}
			}
		}
	}

	.is-upper-bottom
	{
		display: flex;
		justify-content: center;
		border-top: 1px solid rgba(255,255,255,.15); 
		border-bottom: 1px solid rgba(255,255,255,.15);
		padding: 20px 0;

		.footer-section--sub-section-icon
		{
			font-size: 20px;
			width: 100%;
			width: auto;
		}

		.footer-section--sub-section-icon:first-of-type
		{
			margin-right: 20px;
		}
	}

	.is-lower-top
	{
		padding: 12px 0;

		.footer-section--sub-section-menu-item-anchor,
		.footer-section--sub-section-image-with-anchor-href
		{
			font: 14px/1.1em Raleway;
			font-weight: 400;
			position: relative;
		}

		.footer-section--sub-section-image-with-anchor-href
		{
			font-style: italic;
		}

		.footer-section--sub-section-image-with-anchor-src
		{
			position: relative;
			top: 2px;
			margin-right: 7px;
		}

		.footer-section--sub-section-menu
		{
			display: none;
		}
	}


	@include desktop
	{
		flex-direction: row;
		text-align: left;

		&.is-upper
		{
			display: flex;
			justify-content: space-between;
		}

		&--sub-section.is-upper-top
		{
			display: grid;
			grid-template-areas: 'a a' 'b c' 'd d';
			& > div:nth-child(1){grid-area: a}
			& > div:nth-child(2){grid-area: b}
			& > div:nth-child(3){grid-area: c}
			& > div:nth-child(4){grid-area: d}


			.footer-section--sub-section-text
			{
				font-size: 36px;
				font-weight: 400;
			}

			.icon.is-contact-info
			{
				margin-bottom: 0;
				margin-right: 10px;

				.icon
				{
					font-size: 21px;

					&--text-header
					{
						display: inline;
						font-weight: 500;
						margin-left: 6px;
					}

					&--icon::before
					{
						display: inline-block;
					}
				}
			}
		}

		.is-upper-bottom
		{
			border: none; 
		}

		.is-lower-top
		{
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 16px 0;
			
			.footer-section--sub-section-menu
			{
				display: flex;
			}
		}

	}
}

.header-logo
{
	padding: 6px 0;

	&--image
	{
		width: 99px;		
	}

	&--link
	{

	}

	@include desktop
	{
		padding: 0;

		&--link
		{
			// display: block;
		}

		&--image
		{
			padding: 0;
			width: 134px;
			position: relative;
    	top: 3px;
    	left: 6px;
		}
	}
}

.header-svgs
{
	display: flex;
	margin-left: auto;
	
	&--anchor
	{
		display: flex;
		align-items: center;
	}

	&--anchor:first-of-type
	{
		padding-right: 20px;
	}

	&--svg
	{
		width: 23px;
	}

	@include desktop
	{
		display: none;
	}
}

.book-now-button
{
	align-items: center;
	background-color: #67b1d2;
	color: #222;
	cursor: pointer;
	display: none;
	width: 80%;
	padding: 22px 10px;
	

	&.is-footer-button
	{
		display: flex;
		justify-content: center;
    margin: 20px auto;
	}

	&:hover
	{
		opacity: 0.8;
	}

	&--text
	{
		font: 15px/1.1em Raleway;
		white-space: pre;
		font-weight: 600;
	}

	&--svg
	{
		width: 14px;
		height: 14px;
		margin-right: 10px;
	}
	

	@include desktop
	{
		display: flex;
		width: auto;

		&.is-footer-button
		{
			display: none;
		}
	}
}

.header-menu-close-button
{
	&--box
	{
		left: 10px;
	}
}




