mixin burger(additional_class='', text = '')
	.burger(class=`${additional_class}`)
		.burger--box
			.burger--slices
				.burger--slice
				.burger--slice.burger--middle-slice
				.burger--slice
			if text
				.burger--text #{text}