@import './../../config';

.main-menu{
    height: 0;
	overflow:hidden;
    transition:height 0.3s ease-out;
    height:auto;
    display: none;

    &--submenu{
    	margin-left: 30px;
    }

    @include desktop{
		&--submenu{
    		margin-left: 0px;
    	}    	
    }
}