html
{
	height: 100%;
}
	
body
{ 
	min-height: 100%;
	margin:0;
	display: flex;
	flex-flow: column;
	background: url(https://picsum.photos/2000/1000?grayscale) center/cover no-repeat !important; 
}

header,footer
{
	box-sizing: border-box;
	font-family:"Open Sans", sans-serif;
	
	a
	{
		text-decoration: none;
		color: inherit;
	}

	ul
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

footer
{
	margin-top: auto;
}
