
#header
{
	background-color: #fff;
}

#header-upper
{
	display: flex;
	align-items:center;
	justify-content: space-between;
}

#footer
{
	background-color: #fff;
	display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  padding-top: 15px;
  padding-bottom: 35px;
}

#footer-upper, #footer-lower
{
	width: 100%;
}

#footer-upper
{
	padding-top: 20px;
}

#header, #footer
{
	font: 24px/24px Arial;
	text-rendering:optimizelegibility;
	-webkit-font-smoothing:antialiased;
}


.l-container
{
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;

	@include desktop
	{
		max-width: #{$containerWidth};
		margin: 0 auto;
		padding: 0 #{$containerPadding};
	}
}

.l-flex
{
	display: flex;	
}

.l-flex-vcenter
{
	display: flex;
	align-items: center;	
}

.l-space-between
{
	justify-content: space-between;
}

.l-justify-center
{
	justify-content: center;
}

.l-align-center
{
	align-items: center;
}

.l-text-center
{
	text-align: center;
}

.is-not-scrollable
{
	overflow-y: hidden;
}

.l-flex-column
{
	flex-direction: column;
}

.l-flex-wrap
{
	flex-wrap: wrap;
}




