
#header{
	background-color: #fff;
}

#header-upper{
	display: flex;
	align-items:center;
	justify-content: space-between;
}

#footer{
	background-color: #fff;
	display: flex;
    padding: 67px 0 70px;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

#footer-upper, #footer-lower
{
	width: 100%;
}

#header, #footer{
	font: 24px/24px Arial;
	text-rendering:optimizelegibility;
	-webkit-font-smoothing:antialiased;
}


.l-container{
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;

	@include desktop{
		max-width: #{$containerWidth};
		margin: 0 auto;
		padding: 0 #{$containerPadding};
	}
}

.l-flex{
	display: flex;	
}

.l-space-between{
	justify-content: space-between;
}

.l-justify-center{
	justify-content: center;
}

.l-align-center{
	align-items: center;
}

.l-text-center{
	text-align: center;
}

.is-not-scrollable{
	overflow-y: hidden;
}

.l-flex-column{
	flex-direction: column;
}

