include mixins/headerLogo
include mixins/burger
include mixins/headerMenu

header#header
	block headerBlock
		#header-lower
			.l-container.l-flex
				+headerLogo()
				+burger()
				if locals.be.type == 1
					+headerMenu(locals.menu.type, locals.menu.options.has_close_btn, locals.menu.options.has_plus_minus)
				else
					h1 SMART