script.

	window.onload = function()
	{
		const header = document.getElementById('header')
		const headerMenu = document.querySelector('.header-menu')
		if(header && headerMenu)
			{
				headerMenu.style.top = `${header.scrollHeight}px`
			}
	}