script.

	let plusButtonContainers = document.querySelectorAll('.header-menu--plus-button-container')

	plusButtonContainers.forEach(function(plusButtonContainer)
	{
		plusButtonContainer.addEventListener('click', function()
		{
			let headerSubmenu = plusButtonContainer.closest('.header-menu--menu-item').querySelector('.header-menu--submenu')
			expandOrCollapseMenuSection(headerSubmenu, true)
		})

	})