script.
	const closeBtn = document.querySelector(".close-button")
	if(closeBtn){
		closeBtn.onclick = () => {
			document.querySelector(".main-menu").classList.remove("is-visible")
			document.body.classList.remove("is-not-scrollable")
		}
	}

	document.querySelector(".burger").onclick = () => {
		document.querySelector(".main-menu").classList.toggle("is-visible")
		document.body.classList.add("is-not-scrollable")	
	}