include ./../../includes/enums



case menuConfig.mainStyle

	when Menu_Style.DEFAULT
		include ./_default

	when Menu_Style.EXPAND
		include ./_default
		include ./_expand-lib
		include ./_expand-top

	when Menu_Style.SLIDELEFT
	when Menu_Style.SLIDERIGHT
		include ./_slide-left-right-top

case menuConfig.subStyle

	when Menu_Style.EXPAND
		include ./_expand-lib
		include ./_expand-sub
		
	when Menu_Style.SLIDELEFT
	when Menu_Style.SLIDERIGHT
		include ./_slide-left-right-sub
