include ./../../includes/enums


include ./_common

case menuConfig.mainStyle

	when Menu_Style.STATIC
		include ./top-level/_static

	when Menu_Style.EXPAND
		include ./_expand-lib
		include ./top-level/_expand

	when Menu_Style.SLIDELEFT
	when Menu_Style.SLIDERIGHT
		include ./top-level/_slide-left-right

case menuConfig.subStyle

	when Menu_Style.EXPAND
		include ./_expand-lib
		include ./sub-level/_expand
		
	when Menu_Style.SLIDELEFT
	when Menu_Style.SLIDERIGHT
		include ./sub-level/_slide-left-right
