include ./../../includes/enums


include ./_default

case menuConfig.mainStyle

	when Menu_Style.SLIDELEFT
	when Menu_Style.SLIDERIGHT
	when Menu_Style.EXPAND
		include ./_open-close

	when Menu_Style.SLIDELEFT
		include ./_slide-left
		include ./_menu-sections

	when Menu_Style.SLIDERIGHT
		include ./_slide-right
		include ./_menu-sections
		
	when Menu_Style.EXPAND
		include ./_accordion-subs-auto-expanded
		include ./_accordion
		include ./_expand-down
		

		