/* ESSENTIAL IMPORTS */
@import '../../../base/styles/config.scss';
@import '../../../base/styles/base.scss';
@import '../../../base/styles/layout.scss';
@import '../../../base/styles/modules/*.scss';

@import 'lib/cover-config';
@import 'lib/cover-layout';
@import 'lib/modules/*.scss';

/* VARIABLES */
$rgb_red: 37;
$rgb_green: 62;
$rgb_blue: 150;


/* STYLES */

/* config */
$lavender: #7da9da;
$darkBlue: #253e96;
$lightBlue: #7da9da;
$darkGray: #262729;
$charcoal: #3b3b3b;
$lightGray: #949494;

@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');


/* base */

/* layout */

/* modules */
