.footer-copyright
	.footer-copyright--line #{property_name} | All Rights Reserved | Copyright 2020
	.footer-copyright--line Designed by 
		a.footer-copyright--link(href="http://www.google.com") Test Designs