extends ../base/markup/footer.pug		

append footerUpper
	.l-container
		a.footer-button(href='https://hamiltonplaza.ca/contact')
			.footer-button--top
				| Contact Us
			.footer-button--bottom
				| Contact Us

append footerLower

	