extends ../base/markup/header.pug		

block prepend headerBlock
	.l-container
		.header-contact-info
			.header-contact-info--item 
				a(href='tel:(773) 288-5800') PHONE: (773) 288-5800
			.header-contact-info--item 
				a(href='mailto: reservations@chicagolakeshorehotel.com') EMAIL: RESERVATIONS@CHICAGOLAKESHOREHOTEL.COM
			.header-contact-info--item 4900B S. Lake Shore Drive Chicago, IL 60615