/* ESSENTIAL IMPORTS */
@import '../base/styles/config.scss';
@import '../base/styles/base.scss';
@import '../base/styles/layout.scss';
@import '../base/styles/modules/*.scss';

/* VARIABLES */
$rgb_red: 37;
$rgb_green: 62;
$rgb_blue: 150;
$darkGrey: #333;

/* STYLES */

/* config */
$lavender: #7da9da;
$darkBlue: #253e96;
$lightBlue: #7da9da;
$darkGray: #262729;
$charcoal: #3b3b3b;
$lightGray: #949494;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

/* base */

/* layout */
#header, #footer{
	font: 400 14px/1.2em 'Josefin Sans', serif;
	background-color: $darkGrey;
}


/* modules */
.main-menu{
	background-color: $darkGrey;

	&--anchor{
		color: #fff;
		font: inherit;
		font-weight: 700;
	}

	&--anchor-sub{
		font-weight: 400;
		font-size: 12px;
	}
}

.burger{
	&--slice{
		background-color: #fff;
	}
}
