-
	var Menu_Style = 
	{
		STATIC: 0,
		SLIDELEFT: 1, 
		SLIDERIGHT: 2, 
		EXPAND: 3
	}

	var Dropdown_Icon_Style = 
	{
		NONE: 0,
		STATIC_ARROW: 1,
		ANIMATED_ARROW: 2,
		STATIC_PLUS: 3,
		ANIMATED_PLUS: 4 
	}