@import '../config';

#header{display: block}
#footer{position: static}
#wrapper .container{padding-bottom: 0 !important; margin-bottom: 50px !important;}
#wrapper{min-height: 100vh}
#wrapper{display:flex;flex-direction: column;}
#template_footer{margin-top: auto;}
.destra {height: 0;}

@function get-rgba($rgb_red, $rgb_green, $rgb_blue, $alpha){
    @return rgba($rgb_red, $rgb_green, $rgb_blue, $alpha)
}

@mixin bgColor($alpha){
    background: get-rgba($rgb_red,$rgb_green,$rgb_blue,$alpha) !important
}

@mixin color($alpha){
    color: get-rgba($rgb_red,$rgb_green,$rgb_blue,$alpha)
}

#cont_aggiungi_camere a, .nomecamera, .titolo_eta_bambini, .link_scheda .label_text, .ea-js-a-staylength .row-link .fa, #dk_pulsante_cancella_modifica, .room_config .label .fa, #dettagli .accordion, .dettagliTariffa, #riepilogo h2, .accordion, .container_info h2, #summary-box .titolo_tabella, .ricerca_mobile a {
    @include color(1)
}

#steps ul li.selected, #steps ul li.active, #steps ul li.active:hover, #steps li.active, #steps ul li.active {
    @include bgColor(1)
}


.chart-visible-desktop button, 
#qr-overlay-wrapper .qr-title-close, 
#tabella_dispo td .seleziona_giorno, 
#richiesta_pulsante_cerca button, 
#print-button input, 
.locked, 
.cb-popout-inner button, 
.trova_dispo_alternativa a .show-button, 
.seleziona_giorno, 
.continue-button a, 
a.pulsante_sel.modifica, 
.mod a, 

a.pulsante_sel, 
a.pulsante_sel, 
a.pulsante, 
a.pulsante, 
.chart-visible-mobile button, 
#r_date, #carrello_mobile, 
.row_tariffa .tariffa_dx .easyNotification .notification-buttons a{
     @include bgColor(0.6)
 }

#cont_aggiungi_camere a, .nomecamera, .titolo_eta_bambini, .link_scheda .label_text, .ea-js-a-staylength .row-link .fa, #dk_pulsante_cancella_modifica, .room_config .label .fa, #dettagli .accordion, .dettagliTariffa, #riepilogo h2, .accordion, .container_info h2, #summary-box .titolo_tabella, .ricerca_mobile a {
    @include color(0.6)
}

#steps li.selected {
    @include bgColor(0.6)
}

.chart-visible-desktop button:hover, 
#qr-overlay-wrapper .qr-title-close:hover, 
#tabella_dispo td .seleziona_giorno:hover, 
#richiesta_pulsante_cerca button:hover, 
#print-button input:hover, 
.locked:hover, 
.cb-popout-inner button:hover, 
.trova_dispo_alternativa a .show-button:hover, 
.seleziona_giorno:hover, 
.continue-button a:hover, 
a.pulsante_sel.modifica:hover, 
.mod a:hover, 
#dettagli .accordion-open, 
#dettagli .accordion-open-room, 
#dettagli .accordion-open-rates, 
.accordion-open-rate, 
#dettagli .accordion-open-services-details,
a.pulsante_sel:hover, 
a.pulsante_sel:active, 
a.pulsante:hover, 
a.pulsante:active, 
.chart-visible-mobile button:hover, 
#r_date, #carrello_mobile, 
.row_tariffa .tariffa_dx .easyNotification .notification-buttons a:hover {
    @include bgColor(1)
}

.reservation-code-label, .rooms-label, .tit_pacchetto::before, 
.fa.icon-adulto::before, .fa.icon-bambino::before, 
.qr-title-checkin-day.row span.titoletto, .summary_label, 
.trova_dispo_alternativa a .fa, #summary-body #room-price, 
.offers-overlay .riepilogo .eti_lines .label,
.carrello .services-title .sx, .carrello .services-title .dx,
.discounted  {
    @include color(1)
}

#steps ul li {
    background: none repeat scroll 0 0 #CCCCCC
}

#steps ul li.selected, #steps ul li.active:hover{
    @include bgColor(0.4)
}